xterm*background: gray11
xterm*foreground: white
xterm*faceName: Fira Code:size=10:antialias=true
xterm*termName: xterm-256color

xterm*copyToClipboard: true
xterm*selectToClipboard: true
xterm*scrollBar: false
